# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.env/
.venv/
venv/
ENV/

# Poetry
poetry.lock

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Logs
*.log

# Misc
*.sqlite3
*.db

# Ignore local data
local_data/
